@import "tailwindcss";



@layer base {
:root{
    font-family: Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }

  body {
    /* background-color: #ffffff; */
    color: #000000;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  @theme {
    --color-foreground: #344256;
    --color-background: #f8fafc;
    --color-pastel-red: #FF6961;
    --color-muted-foreground: #808080;
    --color-primary: #dc3545;
    --color-secondary: #16a249;
    --color-primary-foreground: #ffffff;
    --color-border: #e2e8f0;
    --color-input: #e2e8f0;

    --color-accent: #dc3545;
    --color-accent-foreground: #ffffff;

    --color-card: #ffffff;
    --color-card-foreground: #344256;

    --color-ring: #007bff;

    --color-muted:#f1f5f9;

    --color-destructive: #ef4444;
  }
  



  /* a {
  font-weight: 500;
  color: #FF6961;
  text-decoration: inherit;
  }
  a:hover {
    color: #FF6961;
  }

  h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  } */
}
